.login-form {
    padding-left: 430px;
    padding-right: 350px;
    padding-top: 175px;
}

.alert-danger {
    margin-top: 20px;
}

.form-group{
    font-family: 'Libre Baskerville', serif;
    color:whitesmoke;
}

